<!-- Barra de navegación principal -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <i class="bi bi-graph-up-arrow me-2 fs-4"></i>
      <span class="fw-bold">Prueba Técnica Indicadores Financieros</span>
    </a>

    <button class="navbar-toggler bg-sucess" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarMain" aria-controls="navbarMain"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            <i class="bi bi-house-door me-1"></i> Inicio
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>


