<ng-container *ngIf="isLoading; else showData">
  <p>Cargando datos...</p>
</ng-container>

<ng-template #showData>
  <span>Tipo Moneda: {{ tipoIndicador }}</span>

  <ng-container *ngIf="detallesGenerales.Monedas && detallesGenerales.Monedas.length > 0; else noData">
    <ul class="list-group">
      <li class="list-group-item flex-container-list" *ngFor="let item of detallesGenerales.Monedas">
        <span class="flex-items-list">{{ item.Fecha }}</span>
        <span class="flex-items-list">{{ item.Valor }}</span>
      </li>
    </ul>
  </ng-container>

  <ng-template #noData>
    <p>No hay datos disponibles.</p>
  </ng-template>
</ng-template>
